@charset "utf-8";

/* base valiables */

$fonthira: "Hiragino Kaku Gothic ProN","メイリオ", meiryo, sans-serif;
$fontyugo: YuGothic, 'Yu Gothic', sans-serif;
$fontrobo: 'Roboto Condensed', sans-serif;
$fontmont: 'Metropolis', sans-serif;

$font-html: 62.5%;
$cl-main: #000;
$white: #fff;
$cl-gray: #f2f2f2;
$cl-orange: #FF6E00;
$cl-green: #82D278;

$screen-sp: 768px;